:root {
  --color:#1B0A42;
  --b-color: #4F56F1;
  --p-color:#9A9A9A;
  --f-family:'Roboto', sans-serif;
  --f-family-h1:'Ramaraja', serif;
}

* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  margin: auto;
  max-width: 1600px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: var(--f-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 90px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__navbar, .header__sign {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  vertical-align: top;
}

.header__navbar {
  margin-left: 30px;
}

.header__element {
  color: var(--color);
}

.header__element:not(:last-of-type) {
  margin-bottom: 20px;
}

.header__element:first-of-type {
  margin-top: 30px;
}

.header__sign {
  margin-right: 70px;
  float: right;
  white-space: nowrap;
}

.header__sign-in {
  margin-left: 30px;
  margin-bottom: 20px;
  color: var(--color);
}

.logo {
  display: inline-block;
  width: 90px;
  height: 40px;
  margin-right: 40px;
  margin-left: 70px;
  margin-top: -70px;
}

.button {
  font-family: var(--f-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  background-color: var(--b-color);
  border: 0px solid var(--b-color);
  border-radius: 6px;
  padding: 18px 31px;
  white-space: nowrap;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
  margin-left: 25px;
}

.content__card {
  margin-left: 40px;
  max-width: 540px;
  margin-right: 10px;
  margin-bottom: 100px;
}

.content__title {
  font-family: var(--f-family-h1);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #1B0A42;
  margin: 0;
}

.content__p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--p-color);
  margin-bottom: 60px;
  margin-top: 10px;
}

.content__button {
  padding: 20px 31px;
}

.content__img {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .content__title {
    font-size: 52px;
    line-height: 52px;
  }
  .content__p {
    font-size: 17px;
    line-height: 22px;
  }
  .content__card {
    margin-right: 40px;
    margin-left: unset;
  }
}

@media screen and (min-width: 878px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .header__navbar, .header__sign {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin-top: 48px;
  }
  .header__sign {
    margin-top: 30px;
  }
  .header__sign-in {
    margin-top: 18px;
    margin-right: 40px;
  }
  .header__right {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .header__element:not(:last-of-type) {
    margin-right: 40px;
  }
  .header__element:first-of-type {
    margin-top: unset;
  }
  .logo {
    display: inline-block;
    width: 90px;
    height: 40px;
    margin-right: 100px;
    margin-left: 70px;
    margin-top: 37px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .content__card {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    margin-right: 94px;
    margin-left: 100px;
  }
  .content__card {
    margin-right: 115px;
    margin-bottom: 70px;
  }
  .content__title {
    font-size: 72px;
    line-height: 76px;
  }
  .content__p {
    font-size: 20px;
    line-height: 32px;
  }
}
/*# sourceMappingURL=style.css.map */